@import "csharp.css";

body
{
    font-family:Verdana;
    font-size:10pt;
}

a:link, a:visited
{
    color:blue;
}

.navbar
{
    background-color: #C0FF23 /*#dfff80*/;
    border:1px solid gray;
    line-height:30px;
    
    font-size:10pt;
    font-weight:bold;
    
    padding-left:5px;
    padding-right:5px;
    
    width:1000px;
}

#logo
{
    position:relative;
    top:0px;
    right:0px;
    float:right;
    display:inline;
}

#logoContainer
{
    width:1000px;
}

h1
{
    font-size:20pt;
    font-weight:normal;
}

h2
{
    font-size:16pt;
    font-weight:normal;
}

h3
{
    font-size:12pt;
    font-weight:normal;
}

.footer
{
    margin-top:100px;
    padding:5px;
    
    border-top:1px solid gray;
    font-size:8pt;
    width:1000px;
}

code 
{
    font-family: Monospace, Courier New, Courier;
    background-color: inherit;
    color: #0000AA;
    font-size: 100%;
}

.codeAttribute
{
    color:Blue;
    font-family: Monospace, Courier New, Courier;
}

pre.code 
{
    font-family: Monospace, Courier New, Courier;
    background-color: inherit;
    color: #0000AA;
    font-size: 100%;
}

#mainText
{
    max-width:1000px;
}

table.listing
{
    margin-top:10px;
    font-size:10pt;
    border-spacing:0px;
    border-collapse:collapse;
}

.listing td
{
    border:1px solid gray;
    padding:5px;
}

td.header
{
    font-weight:bold;
}

.code
{
    font-family: Monospace, Courier New, Courier;
    font-size:10pt;
}